/* MOBILE FIRST */

.cont {
  list-style: none;

  display: flex;
  justify-content: space-around;

  padding: 0;

  margin: 0;
}

.page-item {
  margin-left: 17px;

  font-size: 15px;

  line-height: 24px;
}

.active {
  width: 28px;
  height: 28px;

  margin-left: 25px;

  color: #ffffff;

  text-align: center;

  background: #e4163a;

  border-radius: 4px;
}
