/* MOBILE FIRST */

.players__h2 {
  visibility: hidden;
  margin: 0;
}

.players__header {
  display: flex;

  min-height: 62px;
}

.header__icon-navigation-menu {
  width: 24px;
  height: 24px;

  margin: 19px 83px 19px 12px;
}

.header__icon-test {
  width: 137px;
  height: 34px;

  margin-top: 14px;

  background-image: url("../../../assets/icons/icon_test.svg");
}

.players__search {
  min-height: 200px;

  background: #f6f6f6;

  position: relative;
}

.search__input-search {
  position: relative;

  padding: 16px 12px;
}

.input-search__input {
  width: 351px;
  height: 40px;

  border: 0.5px solid #d1d1d1;
  border-radius: 4px;
}

.input-search__logo-search {
  width: 16px;
  height: 16px;

  position: absolute;

  left: 342px;
  top: 30px;

  background-image: url("../../../assets/icons/search.svg");
}

.input-search__input::placeholder {
  padding: 5px 0 5px 12px;
}

.players__button {
  text-align: center;
}

.players__multiselect {
  width: 357px;
  margin-left: 12px;
}

.add-new-players {
  width: 375px;
  min-height: 595px;
}

.add-new-players__image-player {
  width: 225px;
  height: 225px;

  margin: 0 auto;
  margin-top: 45px;

  background-image: url("../../../assets/images/illustration_players.svg");
}

.add-new-players__text-empty {
  display: block;

  text-align: center;

  font-weight: 800;

  margin-top: 59px;
}

.add-new-players__text-add-new-players {
  display: block;

  text-align: center;

  font-weight: 400;
  font-size: 15px;

  line-height: 24px;

  margin-top: 45px;
}

.pagination-container {
  height: 110px;

  background: #f6f6f6;
}

.pagination-container__container {
  display: flex;

  overflow: hidden;

  justify-content: space-around;

  padding-top: 74px;
}

.container__multiselect {
  width: 60px;
  height: 28px;
}

.react-select__indicator {
  padding: 0;
}

/* .visible { 
    display: none;
}

.shadow {
    display: block;

    width: 100%;
    height: 266%;

    background: black;
    opacity: 0.5;

    position: absolute;
    top: 131px;

    z-index: 1;
} */
