/* Common Styles All Application*/

.container {
  width: 375px;
}

:root {
  --pink: #ff768e;
}

.common-text-style {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;

  line-height: 25px;

  color: #707070;
}

/* Common Styles Registration and Autorization */

.wrapper-input {
  margin-top: 24px;
  margin-left: 24px;

  display: flex;
  flex-direction: column;
}

.wrapper-input:last-child {
  margin-top: 8px;
}

.wrapper-input__input_input_hover:hover {
  background: #d1d1d1;
}

.errors-forms {
  margin-top: 2px;

  color: var(--pink);

  padding: 0;

  font-size: 12px;

  line-height: 150%;
}

.close-eye {
  position: absolute;
  left: 85%;
  top: 56%;

  width: 14.67px;
  height: 12.22px;

  background-image: url("../../assets/icons/close_eye.svg");

  cursor: pointer;
}

.open-eye {
  position: absolute;
  left: 85%;
  top: 56%;

  width: 14.67px;
  height: 12.22px;

  background-image: url("../../assets/icons/eye.svg");

  cursor: pointer;
}

.inv {
  border: 5px solid red;
}

.color-pink {
  color: var(--pink);
}

.visible {
  display: none;
}

.shadow {
  display: block;

  width: 100%;
  height: 100%;

  background: black;
  opacity: 0.5;

  position: absolute;
  top: 97px;

  z-index: 1;
}

/* Common Style Component DetailPlayer */

.common-flex {
  display: flex;
  flex-direction: column;

  padding-top: 32px;
  margin: 0 auto;
}

.common-header {
  font-weight: 800;

  color: #ffffff;
}

.common-text {
  margin-top: 8px;

  font-size: 15px;
  line-height: 24px;

  text-align: center;

  color: #ffffff;
}

/* Common Style Component AddPlayer */

.common-input {
  display: flex;
  flex-direction: column;

  margin: 24px 24px 0 24px;
}

.common-input-data {
  display: flex;
  justify-content: normal;

  margin-top: 24px;
}

.common-margin-left {
  margin-left: 24px;
}
