.detail-player {
  height: 935px;
}

.detail-player__h2 {
  visibility: hidden;
  margin: 0;
}

.line-grey {
  height: 16px;
  background: #f6f6f6;
}

.card-player {
  height: 797px;

  display: flex;
  flex-direction: column;

  background: white;
}

.card-player__player-name {
  display: flex;
  justify-content: start;

  border: 0.5px solid #9c9c9c;

  height: 48px;
}

.player-title {
  display: block;
  font-size: 13px;
  line-height: 18px;

  color: #e4163a;

  padding-top: 16px;
  padding-left: 16px;
}

.player-logo {
  width: 50px;
  height: 50x;

  padding-left: 80px;

  padding-top: 16px;

  display: flex;
  justify-content: normal;
}

.player-logo__logo-create {
  background-image: url("../../../assets/icons/create.svg");

  width: 18px;
  height: 18px;
}

.player-logo__logo-delete {
  width: 18px;
  height: 18px;

  background-image: url("../../../assets/icons/delete.svg");
  margin-left: 15px;
}

.card-player__player-profile {
  height: 749px;

  display: flex;
  flex-direction: column;

  background: linear-gradient(142.15deg, #393939 0%, #707070 98.4%);
}

.player-profile__image {
  width: 143px;
  height: 112px;

  margin: 0 auto;

  margin-top: 48px;

  background-image: url("../../../assets/images/player.png");
}

.player-profile__position {
  padding-top: 48px;
}

.player-profile__name {
  width: 179px;
  height: 32px;
  text-align: center;

  padding-top: 48px;
  margin: 0 auto;
}

.name__number {
  color: red;
}

.team__team {
  margin: 0 auto;
}

.team__title {
  text-align: center;
}

.player-profile__footer {
  background: #f6f6f6;
}
