/* Mobile First */

/* CONTAINER */

.registration {
  width: 375px;
  height: 750px;
}

/* HEADER */

.header {
  text-align: center;

  font-size: 36px;
  font-weight: 400;

  line-height: 49px;

  color: #344472;

  margin-top: 87px;
}

/* FORM */

.form {
  margin-top: 32px;

  display: flex;
  flex-direction: column;
}

/* INPUT NAME */

.form__wrapper-input-name {
  margin-top: 32px;
}

/* INPUT PASSWORD AND PASSWORD CONFIRM */

.form__wrapper-input-password {
  position: relative;
}

.form__wrapper-input-confirm {
  position: relative;
}

/* INPUT CHECKBOX */

.form__wrapper-input-checkbox {
  display: flex;
  flex-direction: row;

  margin-top: 24px;
}

.wrapper-input__checkbox {
  width: 12px;
  height: 12px;

  border: 1px solid #f1cfd5;
  border-radius: 2px;

  width: fit-content;
  position: absolute;

  opacity: 0;
}

.wrapper-input__checkbox + label {
  display: inline-flex;
  align-items: center;

  user-select: none;
}

.wrapper-input__checkbox + label::before {
  content: "";

  display: inline-block;

  width: 1em;
  height: 1em;

  flex-shrink: 0;
  flex-grow: 0;

  border: 1px solid #adb5bd;
  border-radius: 0.25em;

  margin-right: 0.5em;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.wrapper-input__checkbox:checked + label::before {
  border-color: #0b76ef;

  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.error-checked {
  margin-left: 24px;
}

/* FOOTER MESSAGE */

.footer-text {
  margin-top: 24px;

  text-align: center;
}

.footer-text__link-to-login {
  font-size: 15px;

  line-height: 24px;
}

/* BUTTON */

.button {
  width: 327px;
  height: 40px;

  background: #e4163a;

  border-radius: 4px;
  border-color: red;

  color: white;

  font-size: 15px;

  line-height: 24px;

  margin-top: 24px;

  cursor: pointer;
}
