/* MOBILE FIRST */

.card-teams {
  width: 375px;
  min-height: 427px;

  text-align: center;

  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;

  background: #f6f6f6;

  /* position: absolute;
  top: 235px; */
}

.card-teams__image-container {
  width: 169.5px;
  height: 201px;

  margin-left: 12px;
  margin-top: 12px;

  position: relative;

  background-repeat: no-repeat;
  background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);

  border-radius: 4px;

}

.image-container__image {
  width: 58.4px;
  height: 50.68px;
  margin: 0 auto;
  margin-top: 31.5px;

  background-image: url("../../../assets/images/logo_team.png");
  background-repeat: no-repeat;
}

.image__down-card {
  width: 169.5px;
  height: 94px;

  opacity: 0.5;

  display: flex;
  flex-direction: column;

  background: #303030;
  
  border-radius: 0px 0px 4px 4px;

  top: 107px;
   
  position: absolute;


}

.down-card__name {
  font-size: 15px;
  
  line-height: 24px;

  color: #FFFFFF;
}

.down-card__year {
  font-size: 13px;

  margin-top: 8px;
  
  line-height: 18px;

  color: #9C9C9C;
}