.card-team {
  width: 1140px;
  height: 473px;

  border: 0.5px solid #9c9c9c;
}

.wrapper-svg {
  height: 100px;
  display: flex;

  margin-left: 812px;

  margin-right: 47px;
}

.create {
  width: 14.81px;
  height: 14.81px;
  background-image: url("../../../../assets/icons/create.svg");
}

.delete {
  margin-left: 24px;
  width: 12px;
  height: 14px;
  background-image: url("../../../../assets/icons/delete.svg");
  fill: red;
}

#delete {
  fill: red;
}

.card-team__wrapper {
  height: 69px;

  background: #ffffff;
}

.wrapper__header {
  margin: 24px 0 0 32px;
  display: flex;
  justify-content: space-between;
}

.wrapper__header-text {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  line-height: 24px;

  color: #e4163a;
}

.card-team__main {
  width: 1140px;
  height: 473px;

  background: linear-gradient(276.45deg, #707070 0%, #393939 100.28%);

  display: flex;
}

.main__image {
  width: 210px;
  height: 210px;

  margin: 166px 0 0 146px;

  background: url("../../../../assets/images/den.png");
}

.card-team__text {
  width: 570px;
  min-height: 100px;
}

.common-style-text {
  font-weight: 800;
  font-family: "Avenir";
  font-style: normal;
  color: white;
}

.text__denver {
  display: block;
  margin: 65px 355px 0 146px;
  width: 283px;
  height: 49px;

  font-size: 36px;
  line-height: 49px;
}

.wrapper {
  min-width: 212px;
  height: 33px;

  margin: 40px 0 0 146px;
  display: flex;
}

.wrapper2 {
  min-width: 212px;
  height: 33px;

  margin: 40px 0 0 146px;
  display: flex;

  margin-top: 8px;
}

.text__year-foundation {
  width: 212px;
  height: 33px;

  font-size: 24px;
  line-height: 33px;
}

.text__year {
  width: 41px;
  height: 25px;

  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.text__division {
  width: 90px;
  height: 33px;

  margin-left: 84px;
  font-size: 24px;
  line-height: 33px;
}

.text__northwestern {
  margin-left: 255px;

  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

.wrapper3 {
  min-width: 212px;
  height: 33px;

  margin: 40px 0 0 146px;
  display: flex;
  flex-direction: column;
}

.text__conference {
  font-size: 24px;
  line-height: 33px;

  margin-top: 54px;
}

.text__western {
  margin-top: 8px;

  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}
