/* MOBILE FIRST */

.card-players {
  width: 375px;
  height: 712px;

  display: flex;
  justify-content: normal;

  flex-wrap: wrap;

  background: #f6f6f6;

  position: absolute;
  top: 287px;
}

.card-players__image {
  width: 169.5px;
  height: 180px;

  margin-left: 12px;
  margin-top: 12px;

  background-image: url("../../../assets/images/teams_card\ \(5\).png");
}
