/* MOBILE FIRST */

.page-not-found {
  position: relative;
}

.page-not-found__header {
  visibility: hidden;
}

.page-not-found__box {
  width: 271.9px;
  height: 147.04px;

  position: absolute;
  left: 13.33%;
  right: 13.33%;
  top: 34.2%;
  bottom: 48.31%;
}

.box__image {
  width: 275px;
  height: 153px;

  background-image: url("../../assets/images/illustration.svg");
}

.box__title-not-found {
  font-weight: 800;

  display: block;

  text-align: center;

  color: #ff768e;

  margin-top: 54px;
}

.box__message-not-found {
  display: block;

  text-align: center;

  margin-top: 18px;

  font-weight: 400;

  line-height: 24px;

  color: #707070;

  font-size: 15px;
}
