/* MOBILE FIRST */

.detail-team {
  height: 1220px;
}

.card-team__profile {
  height: 542px;

  background: linear-gradient(142.15deg, #393939 0%, #707070 98.4%);

  display: flex;
  flex-direction: column;
}

.profile__logo {
  margin: 0 auto;
  margin-top: 48px;

  width: 89px;
  height: 90px;

  background-image: url("../../../assets/images/logo_team.png");
}

.profile__name {
  font-weight: 800;

  text-align: center;

  margin-top: 48px;

  color: white;
}

.profile__data {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  margin-top: 48px;
}

.data__text-level-top {
  font-weight: 800;

  color: white;

  text-align: center;
}

.data__text-level-down {
  font-size: 15px;

  line-height: 24px;

  color: #ffffff;

  text-align: center;

  margin-top: 8px;
}

.conference {
  margin-top: 32px;
}

.division {
  margin-top: 32px;
}

.detail-team__list-players {
  min-height: 300px;
}

.list-players__header {
  height: 84px;

  display: flex;
  flex-direction: column;
}

.header__roster {
  height: 48px;
}

.roster {
  margin-left: 16px;
  margin-top: 12px;

  display: block;

  font-size: 15px;

  line-height: 24px;

  color: #707070;
}

.header__player {
  height: 36px;

  display: flex;
}

.player__lattice {
  margin-left: 16px;
  margin-top: 8px;

  display: block;

  font-size: 15px;

  line-height: 24px;

  color: #707070;
}

.player__text {
  margin-top: 8px;
  margin-left: 32px;

  font-size: 15px;

  line-height: 24px;

  color: #707070;

  display: block;
}

.list-players__players {
  display: flex;
  flex-direction: column;

  min-height: 256px;
}

.players__player {
  height: 56px;
  border: 0.5px solid #9c9c9c;
  display: flex;
  justify-content: normal;
}

.player__number {
  margin-top: 19px;
  margin-left: 16px;

  font-size: 13px;

  line-height: 18px;

  color: #707070;
}

.player__image {
  width: 40px;
  height: 40px;

  margin-top: 8px;
  margin-left: 28px;

  background-image: url("../../../assets/images/photo_player.png");
}

.player__description {
  margin-top: 6px;
  margin-left: 10px;

  display: flex;
  flex-direction: column;
}

.description__name {
  font-size: 15px;

  line-height: 24px;

  color: #707070;
}

.description__position {
  font-size: 15px;
  line-height: 24px;

  color: #707070;
}
