.addplayer {
  min-height: 964px;

  background: #f6f6f6;
}

.addplayer__header {
  background: white;

  height: 96px;
}

.header__h2 {
  visibility: hidden;

  margin: 0;
}

.addplayer-container {
  height: 826px;

  margin-top: 16px;
}

.addplayer-container__player-name {
  height: 48px;

  background: white;
}

.player-title {
  width: 203px;
  height: 16px;

  font-size: 13px;
  line-height: 18px;
}

.addplayer__profile {
  height: 778px;

  display: flex;
  flex-direction: column;

  background: white;
}

.profile__add-image {
  position: relative;
  left: 35px;
  width: 185px;
  height: 144px;

  margin: 0 auto;

  margin-top: 48px;

  background-image: url("../../../assets/images/player.png");
  background-repeat: no-repeat;
}

.add-image {
  position: absolute;

  z-index: 1;

  opacity: 0;

  bottom: 10px;

  width: 100%;
  height: 115%;

  right: 20px;
}

.profile__shadow {
  width: 185px;
  height: 144px;

  background: #9c9c9c;

  opacity: 0.5;

  border-radius: 10px;

  position: absolute;
  top: -31px;
  left: -24px;
}

.profile__photo {
  width: 41px;
  height: 40px;

  background-repeat: no-repeat;
  background-image: url("../../../assets/icons/photo.svg");

  position: absolute;

  top: 31px;
  left: 49px;
}

.profile__input-name {
  margin: 48px 24px 0 24px;
}

/* .input-name::placeholder {
    padding: 10px 3px 10px 12px;
  
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    
    display: flex;
    align-items: center;
    
    
    color: #303030;
  } */

.input-position__multiselect {
  width: 327px;
  height: 40px;
}

.input-team__multiselect {
  width: 327px;
  height: 40px;
}

.input-data__birthday {
  position: relative;
}

.calendar-icon {
  width: 16px;
  height: 16px;

  background-image: url("../../../assets/icons/calendar.svg");
  background-repeat: no-repeat;

  position: absolute;
  top: 39px;
  left: 128px;
}

.profile__button {
  margin-top: 24px;
  margin-bottom: 48px;
}
