/* MOBILE FIRST */

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 62px;
  left: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: absolute;

  top: 92px;
  left: -100%;
  width: 201px;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background: white;
  transition-duration: 0.25s;
  z-index: 1;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

.profile {
  height: 100px;

  border-bottom: 0.5px solid #9c9c9c;
}

.profile__header {
  margin: 0 auto;
  display: flex;
  justify-content: normal;
}

.profile__header-image {
  width: 48px;
  height: 48px;

  margin-top: 28px;
  margin-left: 20px;

  background-image: url("../../assets/images/profile.svg");
}

.profile__header-text {
  margin: 42px 12px;

  display: block;

  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;

  line-height: 24px;

  color: #303030;
}

.menu-box__menu-body {
  height: 200px;

  display: flex;
  flex-direction: column;
}

.menu-body__wrapper {
  display: flex;
  justify-content: normal;
}

.wrapper__image {
  margin-left: 20px;
  margin-top: 24px;
  width: 24px;
  height: 24px;
}

.image-group-person {
  background-image: url("../../assets/icons/group_person.svg");
}

.image-person {
  background-image: url("../../assets/icons/person.svg");
}

.wrapper__text {
  margin-left: 8px;
  margin-top: 27px;
}

.text-teams {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;

  color: #9c9c9c;
}

.text-players {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;

  color: #e4163a;
}

.menu-box__menu-footer {
  margin-top: 211%;
  height: 60px;
}

.menu-footer__wrapper {
  display: flex;
}

.image-footer {
  background-image: url("../../assets/icons/input.svg");
}

.text-sign-out {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;

  color: #ff768e;
}
